body {
    background-color: rgb(0, 0, 0);
}

.container {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container :nth-child(17) {
    grid-column: 1 / 5;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 100px;
    height: 100px;
    margin: 3px;
    border: none;
    border-radius: 15px;
    background-color: #2962ff;
    color: #fff;
    cursor: pointer;
    outline: none;
}

button:hover {
    transform: scale(0.97);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
} 
