body {
    background-color: rgb(0, 0, 0);
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.container {
    margin: 20px auto;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

button:hover {
    transform: scale(0.97);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
} 

.red {
    background-color: #f44336;
    font-size: 50px;
}

.blue {
    background-color: #2962ff;
    font-size: 20px;
}

.green {
    background-color: rgb(5, 170, 32);
    font-size: 20px;
}