body {
    background-color: rgb(0, 0, 0);
}

.main-container {
    margin: 20px 0px 0px 20px; 
}

.game-board {
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    font-size: 8px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.stopwatch {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.numbers {
    background-color: #2a2e39;
    font-size: 60px;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 100px;
    font-size: 40px;
}

.counter {
    margin: 30px 0 100px 0;
}

.steps {
    background-color: #2a2e39;
    font-size: 120px;
    border-radius: 15px;
    padding: 12px;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container {
    margin: auto;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: none;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

button:hover {
    transform: scale(0.97);
}

.red {
    background-color: #f44336;
    font-size: 50px;
}

.blue {
    background-color: #2962ff;
    font-size: 20px;
}

.green {
    background-color: rgb(5, 170, 32);
    font-size: 20px;
}